/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root{
    --aqua:#A8DADC;
    --DarkBlue: #1D3557;
    --red: #E63946;
    --Light:#F1FAEE;
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--Light);
}

img {
    width: 100px;
}
.hero{
background-image: url(./images/torshov.jpg);
background-size: cover;
width: 50vw;
height: 40vh;
margin-left: auto;
margin-right: auto;
padding-top: 100px;
display: flex;
flex-direction: column;
}

.hero-text{
    font-size: 32px;
    background-color: var(--DarkBlue);
    color: var(--Light);
    border-radius: 10px;

}
    
.hero-text2{
font-size: 19.5px;
background-color: var(--aqua);
border-radius: 15px;
color: var(--Light);
padding: 5px;
}

.hero-text, .hero-text2{
    font-weight: 700;
    font-family: Arial;
    text-align: center;
    margin: 0px;
   
}

/* Activities Section */
.activitiesText img{
    border-radius: 50%;
}
.activitiesText{
display:flex;
width: 50%;
margin-left: auto;
margin-right: auto;

}