/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root{
    --aqua:#A8DADC;
    --DarkBlue: #1D3557;
    --red: #E63946;
    --LightBlue : #F1FAEE;
    --Light:#F1FAEE;
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

img {
    width: 100px;
}
.hero{
background-image: url(./images/torshov.jpg);
background-size: cover;
width: 50vw;
height: 60vh;
margin-left: auto;
margin-right: auto;
/* padding-top: 100px; */
display: flex;
align-items: center;
justify-content: center;

}
.hero div{
     height: 30%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;

}
.hero-text{
    font-size: 2rem;
    background-color: var(--DarkBlue);
    color: var(--Light);
    border-radius: 10px;
    /* padding: 5px; */
    display: inline;
}
    
.hero-text2{
font-size: 19.5px;
background-color: var(--aqua);
border-radius: 15px;
color: var(--Light);
padding: 5px;
width: 60%;
}

.hero-text, .hero-text2{
    font-weight: 700;
    font-family: Arial;
    text-align: center;
    margin: 0px;
   
}

